/* ----- SHARED ----- */
.flexRow {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.radius25 {
    border-radius: 25px;
}

.mgTop5 {
    margin-top: 5px;
}

/* Testing CSS */
.containerBorder {
    border: 2px solid black;
    text-align: center;
}


body {background-color: steelblue;}
main {max-width: 390px;}
section {max-width: 390px;}

.machineContainer {
    background-color: gray;
    padding: 1rem;
    padding-bottom: 5rem;
    max-width: 390px;
}

.invisible {
    visibility: hidden;
}

/* ----- INFORMATION ----- */
.infoContainer {
    background-color: white;
    margin-bottom: 1rem;    
    height: 72px;
}

.infoRow {
    font-size: 1.35rem;
    font-weight: bold;
    margin: 0;
}

#infoRow1 {
    font-size: 1.80rem;
    margin-top: 2px;
    margin-bottom: 3px;
}


/* ----- PRODUCT ----- */
.productControlsContainer {
    margin-bottom: 1rem;
}

.productContainer {
    background-color: white;
    flex-basis: 80%;
}

.productRow {
    height: 60px;
    border-bottom: 2px solid black;
}


/* ----- CONTROLS ----- */
.controlsContainer {
    margin-left: 1rem;
    flex-basis: 20% - 1rem;
}

.dispenseContainer {
    height: 72px;
}

.dispense {
    background-color: black;
    height: 72px;
    flex-basis: 80%;
}

.change {
    background-color: black;
    height: 72px;
    width: 48px;
    margin-left: 1rem;
    flex-basis: 20% - 1rem;    
}

.refundToken {
    background-color:lightgray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-left: 4px;
    font-size: 1.5rem;
}


/* ----- CUSTOMER ----- */
.moneyContainer {
    justify-content: flex-end;
    margin-top: 2rem;
    height: 100px;
    flex-basis: 25% - 1rem;
    border-bottom-left-radius: 25px;
}

.nickel {
    background-color:lightgray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.35rem;
}

.dime {
    background-color: lightgray;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    font-size: 1.25rem;
}

.quarter {
    background-color: lightgray;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    font-size: 1.5rem;
}


/* ----------BUTTONS--------- */
.button {
    border-radius: 50%;
    height: 44px;
    width: 44px;
}

#buttonRed {
    background-color: red;
}

#buttonOrange {
    background-color: orange;
}

#buttonGreen {
    background-color: green;
}

#buttonBlue {
    background-color: blue;
}

#buttonRandom {
    margin-top: 12px;
    animation: blinkingBackground 5s infinite; }
    @keyframes blinkingBackground{
		0%		{ background-color: red; }
		33%		{ background-color: orange;}
		66%		{ background-color: green;}
		100%	{ background-color: blue;}
}


/* ----- CANS ----- */
.can {
    width: 28px;
    height: 48px;
    border-radius: 100% / 30%;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.87);
    margin-left: 15px;
    margin-top: 10px;
}

.redCans {background-color:red;opacity:0.6;}
.orangeCans {background-color:orange;opacity:0.6;}
.greenCans {background-color:green;opacity:0.6;}
.blueCans {background-color:blue;opacity:0.6;}


#redCan1 {
position: relative;
animation-name: redDispAnimation;
animation-fill-mode:forwards;
animation-duration: 4s;
}

@keyframes redDispAnimation {
0%   {top:0px;}
100% {top:275px;}
}

#orangeCan6 {
    position: relative;
    animation-name: orangeDispAnimation;
    animation-fill-mode:forwards;
    animation-duration: 4s;
}
  
  @keyframes orangeDispAnimation {
    0%   {top:0px;}
    100% {top:213px;}
  }

  #greenCan3 {
    position: relative;
    animation-name: greenDispAnimation;
    animation-fill-mode:forwards;
    animation-duration: 4s;
}
  
  @keyframes greenDispAnimation {
    0%   {top:0px;}
    100% {top:151px;}
}

#blueCan5 {
    position: relative;
    animation-name: blueDispAnimation;
    animation-fill-mode:forwards;
    animation-duration: 4s;
}
  
  @keyframes blueDispAnimation {
    0%   {top:0px;}
    100% {top:89px;}
}